* text=auto !eol
Src/C_library/libpng/contrib/visupng/VisualPng.ico svneol=native#unset
Src/C_library/libpng/pngbar.jpg svneol=native#unset
Src/C_library/libpng/projects/beos/x86-shared.proj svneol=native#unset
Src/C_library/libpng/projects/beos/x86-static.proj svneol=native#unset
Src/C_library/zlib/contrib/blast/test.pk svneol=native#unset
Src/C_library/zlib/contrib/puff/zeros.raw svneol=native#unset
Src/examples/Eiffel2Java/README -text
Src/examples/Eiffel2Java/test.class -text
Src/examples/base/desc-32/test.ico svneol=native#unset
Src/examples/base/desc-32/testdesc.dll -text
Src/examples/base/desc-32/testdesc.lib -text
Src/examples/com/compound/child.ico -text
Src/examples/com/compound/compound.ico -text
Src/examples/cpp/mystring/README -text
Src/examples/cpp/mystring/test_cpp.ico svneol=native#unset
Src/examples/docking/simple/images/center.png -text
Src/examples/docking/simple/images/center_center_light.png -text
Src/examples/docking/simple/images/center_down_light.png -text
Src/examples/docking/simple/images/center_left.png -text
Src/examples/docking/simple/images/center_right.png -text
Src/examples/docking/simple/images/center_up_light.png -text
Src/examples/docking/simple/images/down.png -text
Src/examples/docking/simple/images/down_light.png -text
Src/examples/docking/simple/images/floating_tool_bar_icon.png -text
Src/examples/docking/simple/images/left.png -text
Src/examples/docking/simple/images/left_light.png -text
Src/examples/docking/simple/images/right.png -text
Src/examples/docking/simple/images/right_light.png -text
Src/examples/docking/simple/images/smart_docking_icon_matrix.png -text
Src/examples/docking/simple/images/smart_docking_icon_matrix_10_10.png -text
Src/examples/docking/simple/images/smart_docking_icon_matrix_8_16.png -text
Src/examples/docking/simple/images/smart_docking_icon_matrix_8_16_horizontal.png -text
Src/examples/docking/simple/images/up.png -text
Src/examples/docking/simple/images/up_light.png -text
Src/examples/docking/simple/snapshot.PNG -text
Src/examples/dotnet/winforms/applications/world_calc/math.dll -text
Src/examples/dotnet/winforms/applications/world_calc/parserutils.dll -text
Src/examples/dotnet/winforms/control_reference/tree_view_ctl/clsdfold.bmp -text
Src/examples/dotnet/winforms/control_reference/tree_view_ctl/club.bmp -text
Src/examples/dotnet/winforms/control_reference/tree_view_ctl/diamond.bmp -text
Src/examples/dotnet/winforms/control_reference/tree_view_ctl/openfold.bmp -text
Src/examples/dotnet/winforms/gdi_plus/text/colorbars.jpg -text
Src/examples/dotnet/winforms/gdi_plus/text/marble.jpg -text
Src/examples/editor/bitmaps/copy_selection.png -text
Src/examples/editor/bitmaps/cut_selection.png -text
Src/examples/editor/bitmaps/icon_close_color.png -text
Src/examples/editor/bitmaps/left_scroll_arrow.png -text
Src/examples/editor/bitmaps/right_scroll_arrow.png -text
Src/examples/old_com/Analyzer/Client/application.ico svneol=native#unset
Src/examples/old_com/Analyzer/Client/toolbar.bmp svneol=native#unset
Src/examples/old_com/Analyzer/Server/application.ico svneol=native#unset
Src/examples/old_com/Compound/child.ico svneol=native#unset
Src/examples/old_com/Compound/compound.ico svneol=native#unset
Src/examples/old_com/Wordbasic/wordbasic.ico svneol=native#unset
Src/examples/preferences/display.png -text
Src/examples/preferences/graphics.png -text
Src/examples/thread/fancy/fancy.ico svneol=native#unset
Src/examples/vision2/drawing_area/car.png -text
Src/examples/vision2/edraw/nocolor.png -text
Src/examples/vision2/edraw/toolbar/arc.png -text
Src/examples/vision2/edraw/toolbar/dot.png -text
Src/examples/vision2/edraw/toolbar/ellipse.png -text
Src/examples/vision2/edraw/toolbar/equilateral.png -text
Src/examples/vision2/edraw/toolbar/grid.png -text
Src/examples/vision2/edraw/toolbar/group.png -text
Src/examples/vision2/edraw/toolbar/line.png -text
Src/examples/vision2/edraw/toolbar/magnet.png -text
Src/examples/vision2/edraw/toolbar/move.png -text
Src/examples/vision2/edraw/toolbar/new.png -text
Src/examples/vision2/edraw/toolbar/open.png -text
Src/examples/vision2/edraw/toolbar/parallelogram.png -text
Src/examples/vision2/edraw/toolbar/picture.png -text
Src/examples/vision2/edraw/toolbar/pie.png -text
Src/examples/vision2/edraw/toolbar/polygon.png -text
Src/examples/vision2/edraw/toolbar/polyline.png -text
Src/examples/vision2/edraw/toolbar/rect.png -text
Src/examples/vision2/edraw/toolbar/rotate.png -text
Src/examples/vision2/edraw/toolbar/rounded_parallelogram.png -text
Src/examples/vision2/edraw/toolbar/rounded_rect.png -text
Src/examples/vision2/edraw/toolbar/save.png -text
Src/examples/vision2/edraw/toolbar/scale.png -text
Src/examples/vision2/edraw/toolbar/select.png -text
Src/examples/vision2/edraw/toolbar/star.png -text
Src/examples/vision2/edraw/toolbar/text.png -text
Src/examples/vision2/edraw/toolbar/toback.png -text
Src/examples/vision2/edraw/toolbar/tofront.png -text
Src/examples/vision2/edraw/toolbar/ungroup.png -text
Src/examples/vision2/egraph/Xnode.png -text
Src/examples/vision2/egraph/circle_layout.png -text
Src/examples/vision2/egraph/grid_layout.png -text
Src/examples/vision2/egraph/new.png -text
Src/examples/vision2/egraph/new_node.png -text
Src/examples/vision2/egraph/node.png -text
Src/examples/vision2/egraph/open.png -text
Src/examples/vision2/egraph/save.png -text
Src/examples/vision2/grid/icon_bpdisabled.png -text
Src/examples/vision2/grid/icon_bpenabled.png -text
Src/examples/vision2/grid/image1.png -text
Src/examples/vision2/grid/image2.png -text
Src/examples/vision2/grid/image3.png -text
Src/examples/vision2/grid/image4.png -text
Src/examples/vision2/grid/image5.png -text
Src/examples/vision2/grid/large_collapse.png -text
Src/examples/vision2/grid/large_expand.png -text
Src/examples/vision2/grid/marble.png -text
Src/examples/vision2/multicolumn_list/eiffel.png -text
Src/examples/vision2/multicolumn_list/eiffeldoc.png -text
Src/examples/vision2/pixmap/blue.ico -text
Src/examples/vision2/pixmap/gray.ico -text
Src/examples/vision2/pixmap/gray.png -text
Src/examples/vision2/pixmap/magenta.png -text
Src/examples/vision2/rich_text/bold.png -text
Src/examples/vision2/rich_text/center_alignment.png -text
Src/examples/vision2/rich_text/icon_save_color.png -text
Src/examples/vision2/rich_text/italic.png -text
Src/examples/vision2/rich_text/justified.png -text
Src/examples/vision2/rich_text/left_alignment.png -text
Src/examples/vision2/rich_text/right_alignment.png -text
Src/examples/vision2/rich_text/strike.png -text
Src/examples/vision2/rich_text/underline.png -text
Src/examples/vision2/test_all_widgets/pixmaps/power_small.bmp -text
Src/examples/vision2/test_all_widgets/pixmaps/power_small.xpm -text svneol=unset#application/octet-stream
Src/examples/vision2/test_all_widgets/pixmaps/vision.bmp -text
Src/examples/vision2/test_all_widgets/pixmaps/vision.xpm -text svneol=unset#application/octet-stream
Src/examples/vision2/test_all_widgets/pixmaps/vision_tower.bmp -text
Src/examples/vision2/test_all_widgets/pixmaps/vision_tower.xpm -text svneol=unset#application/octet-stream
Src/examples/vision2/viewport/bm_About.png -text
Src/examples/vision2/widgets/bm_About.png -text
Src/examples/vision2/widgets/icon_wizard_blank_project.png -text
Src/examples/wel/bmpview/bmpview_demo.ico -text
Src/examples/wel/bmpview/child.ico -text
Src/examples/wel/bmpview/wel-16c.bmp -text
Src/examples/wel/bmpview/wel-24bits.bmp -text
Src/examples/wel/bmpview/wel-256c.bmp -text
Src/examples/wel/brushes/brushes_demo.ico -text
Src/examples/wel/brushes/eiffel.bmp -text
Src/examples/wel/comctrls/comctrls_demo.ico -text
Src/examples/wel/comctrls/toolbar.bmp -text
Src/examples/wel/commands/commands_demo.ico -text
Src/examples/wel/controls/controls_demo.ico -text
Src/examples/wel/ctlcolor/ctlcolor_demo.ico -text
Src/examples/wel/cursors/cursors_demo.ico -text
Src/examples/wel/cursors/custom.cur svneol=native#unset
Src/examples/wel/diskspace/diskspace_demo.ico -text
Src/examples/wel/fontenum/fontenum_demo.ico -text
Src/examples/wel/fun/artist.ico -text
Src/examples/wel/fun/fun_demo.ico -text
Src/examples/wel/fun/invisibl.cur svneol=native#unset
Src/examples/wel/fun/iselogo.bmp -text
Src/examples/wel/header_ctrl/header_ctrl_demo.ico -text
Src/examples/wel/list_view/blue.ico -text
Src/examples/wel/list_view/green.ico -text
Src/examples/wel/list_view/listview_demo.ico -text
Src/examples/wel/list_view/magenta.ico -text
Src/examples/wel/list_view/red.ico -text
Src/examples/wel/magnify/magnify_demo.ico -text
Src/examples/wel/mdi/mdi_demo.ico -text
Src/examples/wel/menus/menus_demo.ico -text
Src/examples/wel/minimal/minimal_demo.ico -text
Src/examples/wel/pizza/forhere.ico -text
Src/examples/wel/pizza/pizza.ico -text
Src/examples/wel/pizza/pizza_demo.ico -text
Src/examples/wel/pizza/thick.ico -text
Src/examples/wel/pizza/thin.ico -text
Src/examples/wel/pizza/togo.ico -text
Src/examples/wel/printer/printer_demo.ico -text
Src/examples/wel/richedit/richedit_demo.ico -text
Src/examples/wel/richedit/toolbar.bmp -text
Src/examples/wel/splitarea/split_area_demo.ico -text
Src/examples/wel/stddlgs/stddlg_demo.ico -text
Src/examples/wel/timer/timer_demo.ico -text
Src/examples/wel/tree_view/document_normal.bmp -text
Src/examples/wel/tree_view/document_selected.bmp -text
Src/examples/wel/tree_view/folder_normal.bmp -text
Src/examples/wel/tree_view/folder_selected.bmp -text
Src/examples/wel/tree_view/treeview_demo.ico -text
Src/examples/wel/tutorial/drawing.drw -text
Src/examples/wel/tutorial/step1/app.ico -text
Src/examples/wel/tutorial/step2/app.ico -text
Src/examples/wel/tutorial/step3/app.ico -text
Src/examples/wel/tutorial/step4/app.ico -text
Src/examples/wel/tutorial/weltutor.hlp -text
Src/examples/wel/windows/off.bmp -text
Src/examples/wel/windows/on.bmp -text
Src/examples/wel/windows/windows_demo.ico -text
Src/examples/wel/xcell/backgr.bmp -text
Src/examples/wel/xcell/clubs1.bmp -text
Src/examples/wel/xcell/clubs10.bmp -text
Src/examples/wel/xcell/clubs11.bmp -text
Src/examples/wel/xcell/clubs12.bmp -text
Src/examples/wel/xcell/clubs13.bmp -text
Src/examples/wel/xcell/clubs2.bmp -text
Src/examples/wel/xcell/clubs3.bmp -text
Src/examples/wel/xcell/clubs4.bmp -text
Src/examples/wel/xcell/clubs5.bmp -text
Src/examples/wel/xcell/clubs6.bmp -text
Src/examples/wel/xcell/clubs7.bmp -text
Src/examples/wel/xcell/clubs8.bmp -text
Src/examples/wel/xcell/clubs9.bmp -text
Src/examples/wel/xcell/diamon1.bmp -text
Src/examples/wel/xcell/diamon10.bmp -text
Src/examples/wel/xcell/diamon11.bmp -text
Src/examples/wel/xcell/diamon12.bmp -text
Src/examples/wel/xcell/diamon13.bmp -text
Src/examples/wel/xcell/diamon2.bmp -text
Src/examples/wel/xcell/diamon3.bmp -text
Src/examples/wel/xcell/diamon4.bmp -text
Src/examples/wel/xcell/diamon5.bmp -text
Src/examples/wel/xcell/diamon6.bmp -text
Src/examples/wel/xcell/diamon7.bmp -text
Src/examples/wel/xcell/diamon8.bmp -text
Src/examples/wel/xcell/diamon9.bmp -text
Src/examples/wel/xcell/end.bmp -text
Src/examples/wel/xcell/h_clubs.bmp -text
Src/examples/wel/xcell/h_diamo.bmp -text
Src/examples/wel/xcell/h_harts.bmp -text
Src/examples/wel/xcell/h_spades.bmp -text
Src/examples/wel/xcell/harts1.bmp -text
Src/examples/wel/xcell/harts10.bmp -text
Src/examples/wel/xcell/harts11.bmp -text
Src/examples/wel/xcell/harts12.bmp -text
Src/examples/wel/xcell/harts13.bmp -text
Src/examples/wel/xcell/harts2.bmp -text
Src/examples/wel/xcell/harts3.bmp -text
Src/examples/wel/xcell/harts4.bmp -text
Src/examples/wel/xcell/harts5.bmp -text
Src/examples/wel/xcell/harts6.bmp -text
Src/examples/wel/xcell/harts7.bmp -text
Src/examples/wel/xcell/harts8.bmp -text
Src/examples/wel/xcell/harts9.bmp -text
Src/examples/wel/xcell/spades1.bmp -text
Src/examples/wel/xcell/spades10.bmp -text
Src/examples/wel/xcell/spades11.bmp -text
Src/examples/wel/xcell/spades12.bmp -text
Src/examples/wel/xcell/spades13.bmp -text
Src/examples/wel/xcell/spades2.bmp -text
Src/examples/wel/xcell/spades3.bmp -text
Src/examples/wel/xcell/spades4.bmp -text
Src/examples/wel/xcell/spades5.bmp -text
Src/examples/wel/xcell/spades6.bmp -text
Src/examples/wel/xcell/spades7.bmp -text
Src/examples/wel/xcell/spades8.bmp -text
Src/examples/wel/xcell/spades9.bmp -text
Src/examples/wel/xcell/start.bmp -text
Src/examples/wel/xcell/xcell.bmp -text
Src/examples/wel/xcell/xcell_demo.ico -text
Src/framework/README.TXT -text
Src/library/Eiffel2Java/README.txt -text
Src/library/GIF/Clib/gd_lib/gd.lib svneol=native#unset
Src/library/base_extension/base_extension.ecf -text
Src/library/diff/diff.e -text
Src/library/diff/diff_index_link.e -text
Src/library/diff/diff_line.e -text
Src/library/diff/diff_line_add.e -text
Src/library/diff/diff_line_del.e -text
Src/library/diff/diff_match_index.e -text
Src/library/diff/diff_text.e -text
Src/library/docking/implementation/common/sd_hexer.e -text
Src/library/docking/implementation/common/sd_pnd_action_sequence.e -text
Src/library/docking/implementation/common/sd_position_helper.e -text
Src/library/docking/implementation/common/sd_screen.e -text
Src/library/docking/implementation/common/sd_text_finder.e -text
Src/library/docking/implementation/controls/dialog/sd_mini_tool_bar_dialog.e -text
Src/library/docking/implementation/controls/notebook/sd_notebook.e -text
Src/library/docking/implementation/controls/notebook/sd_notebook_hide_tab_dialog.e -text
Src/library/docking/implementation/controls/notebook/sd_notebook_hide_tab_label_box.e -text
Src/library/docking/implementation/controls/notebook/sd_notebook_tab.e -text
Src/library/docking/implementation/controls/notebook/sd_notebook_tab_area.e -text
Src/library/docking/implementation/controls/notebook/sd_notebook_tab_hide_label.e -text
Src/library/docking/implementation/controls/notebook/sd_notebook_tab_style_normal.e -text
Src/library/docking/implementation/controls/notebook/sd_notebook_upper.e -text
Src/library/docking/implementation/controls/sd_cell_with_border.e -text
Src/library/docking/implementation/controls/sd_horizontal_split_area.e -text
Src/library/docking/implementation/controls/sd_vertical_split_area.e -text
Src/library/docking/implementation/controls/sd_zone_navigation_box.e -text
Src/library/docking/implementation/controls/sd_zone_navigation_dialog.e -text
Src/library/docking/implementation/controls/sd_zone_navigation_dialog_imp.e -text
Src/library/docking/implementation/controls/zone/sd_docking_zone_normal.e -text
Src/library/docking/implementation/controls/zone/sd_docking_zone_upper.e -text
Src/library/docking/implementation/docking/sd_docking_manager_internal_agents.e -text
Src/library/docking/implementation/docking/sd_docking_manager_internal_command.e -text
Src/library/docking/implementation/docking/sd_docking_manager_internal_property.e -text
Src/library/docking/implementation/docking/sd_docking_manager_internal_query.e -text
Src/library/docking/implementation/docking/sd_docking_manager_internal_zones.e -text
Src/library/docking/implementation/gtk/sd_feedback_rect.e -text
Src/library/docking/implementation/gtk/sd_line_drawer.e -text
Src/library/docking/implementation/hot_zone/half_tone_style/sd_hot_zone_old_docking.e -text
Src/library/docking/implementation/hot_zone/half_tone_style/sd_hot_zone_old_factory.e -text
Src/library/docking/implementation/hot_zone/half_tone_style/sd_hot_zone_old_main.e -text
Src/library/docking/implementation/hot_zone/half_tone_style/sd_hot_zone_old_tab.e -text
Src/library/docking/implementation/hot_zone/tranparent_rectangle_style/sd_hot_zone_docking.e -text
Src/library/docking/implementation/hot_zone/tranparent_rectangle_style/sd_hot_zone_docking_upper.e -text
Src/library/docking/implementation/hot_zone/tranparent_rectangle_style/sd_hot_zone_main.e -text
Src/library/docking/implementation/hot_zone/tranparent_rectangle_style/sd_hot_zone_main_editor.e -text
Src/library/docking/implementation/hot_zone/tranparent_rectangle_style/sd_hot_zone_tab.e -text
Src/library/docking/implementation/hot_zone/tranparent_rectangle_style/sd_hot_zone_tab_upper.e -text
Src/library/docking/implementation/hot_zone/tranparent_rectangle_style/sd_hot_zone_triangle_factory.e -text
Src/library/docking/implementation/mswin/sd_feedback_rect.e -text
Src/library/docking/implementation/mswin/sd_line_drawer.e -text
Src/library/editor/bitmaps/copy_selection.png -text
Src/library/editor/bitmaps/cut_selection.png -text
Src/library/editor/bitmaps/icon_close_color.png -text
Src/library/editor/bitmaps/left_scroll_arrow.png -text
Src/library/editor/bitmaps/right_scroll_arrow.png -text
Src/library/gobo_extension/gobo_extension.ecf -text
Src/library/memory_analyzer/memory_analyzer_icon_matrix.png -text
Src/library/process/classic/unix/process_error_listener_thread.e -text
Src/library/process/classic/unix/process_output_listener_thread.e -text
Src/library/process/classic/unix/process_thread_timer.e -text
Src/library/process/classic/windows/process_error_listener_thread.e -text
Src/library/process/classic/windows/process_output_listener_thread.e -text
Src/library/process/classic/windows/process_thread_timer.e -text
Src/library/process/classic/windows/wel_process_entry_32.e -text
Src/library/process/classic/windows/wel_process_id_pair.e -text
Src/library/process/classic/windows/wel_process_toolhelp_constants.e -text
Src/library/process/classic/windows/wel_thread_entry_32.e -text
Src/library/process/classic/windows/wel_toolhelp.e -text
Src/library/vision2/Clib/default_vision2_icon.ico -text
Src/library/wel/extra/h2e.ico svneol=native#unset
Src/library/wel/extra/h2e1.ico svneol=native#unset
Src/library/wel/extra/h2e2.ico svneol=native#unset
Src/library/wel/structs/wel_xform.e -text
Src/library/wizard/help/Clib/htmlhelp.lib -text
