* text=auto !eol
Src/C_library/libpng/contrib/visupng/VisualPng.ico svneol=native#unset
Src/C_library/libpng/pngbar.jpg svneol=native#unset
Src/C_library/libpng/projects/beos/x86-shared.proj svneol=native#unset
Src/C_library/libpng/projects/beos/x86-static.proj svneol=native#unset
Src/C_library/zlib/contrib/blast/test.pk svneol=native#unset
Src/C_library/zlib/contrib/puff/zeros.raw svneol=native#unset
Src/examples/Eiffel2Java/README -text
Src/examples/Eiffel2Java/test.class -text
Src/examples/com/compound/child.ico -text
Src/examples/com/compound/compound.ico -text
Src/examples/cpp/mystring/README -text
Src/examples/cpp/mystring/test_cpp.ico svneol=native#unset
Src/examples/docking/docking_control/docking_control.exe.manifest -text
Src/examples/docking/docking_control/docking_control.rc -text
Src/examples/docking/docking_control/images/center.png -text
Src/examples/docking/docking_control/images/center_center_light.png -text
Src/examples/docking/docking_control/images/center_down_light.png -text
Src/examples/docking/docking_control/images/center_left.png -text
Src/examples/docking/docking_control/images/center_right.png -text
Src/examples/docking/docking_control/images/center_up_light.png -text
Src/examples/docking/docking_control/images/down.png -text
Src/examples/docking/docking_control/images/down_light.png -text
Src/examples/docking/docking_control/images/floating_tool_bar_icon.png -text
Src/examples/docking/docking_control/images/icon_1.png -text
Src/examples/docking/docking_control/images/icon_2.png -text
Src/examples/docking/docking_control/images/left.png -text
Src/examples/docking/docking_control/images/left_light.png -text
Src/examples/docking/docking_control/images/right.png -text
Src/examples/docking/docking_control/images/right_light.png -text
Src/examples/docking/docking_control/images/smart_docking_icon_matrix.png -text
Src/examples/docking/docking_control/images/smart_docking_icon_matrix_10_10.png -text
Src/examples/docking/docking_control/images/smart_docking_icon_matrix_8_16.png -text
Src/examples/docking/docking_control/images/smart_docking_icon_matrix_8_16_horizontal.png -text
Src/examples/docking/docking_control/images/up.png -text
Src/examples/docking/docking_control/images/up_light.png -text
Src/examples/docking/docking_control/widgets/build_project.bpr -text
Src/examples/docking/docking_control/widgets/system_interface.xml -text
Src/examples/docking/simple/images/center.png -text
Src/examples/docking/simple/images/center_center_light.png -text
Src/examples/docking/simple/images/center_down_light.png -text
Src/examples/docking/simple/images/center_left.png -text
Src/examples/docking/simple/images/center_right.png -text
Src/examples/docking/simple/images/center_up_light.png -text
Src/examples/docking/simple/images/down.png -text
Src/examples/docking/simple/images/down_light.png -text
Src/examples/docking/simple/images/floating_tool_bar_icon.png -text
Src/examples/docking/simple/images/left.png -text
Src/examples/docking/simple/images/left_light.png -text
Src/examples/docking/simple/images/right.png -text
Src/examples/docking/simple/images/right_light.png -text
Src/examples/docking/simple/images/smart_docking_icon_matrix.png -text
Src/examples/docking/simple/images/smart_docking_icon_matrix_10_10.png -text
Src/examples/docking/simple/images/smart_docking_icon_matrix_8_16.png -text
Src/examples/docking/simple/images/smart_docking_icon_matrix_8_16_horizontal.png -text
Src/examples/docking/simple/images/up.png -text
Src/examples/docking/simple/images/up_light.png -text
Src/examples/docking/simple/snapshot.PNG -text
Src/examples/dotnet/sdk/assemblies/searchpath/eiffel/math/app.config -text
Src/examples/dotnet/sdk/samples.txt -text
Src/examples/dotnet/winforms/applications/world_calc/math.dll -text
Src/examples/dotnet/winforms/applications/world_calc/parserutils.dll -text
Src/examples/dotnet/winforms/control_reference/tree_view_ctl/clsdfold.bmp -text
Src/examples/dotnet/winforms/control_reference/tree_view_ctl/club.bmp -text
Src/examples/dotnet/winforms/control_reference/tree_view_ctl/diamond.bmp -text
Src/examples/dotnet/winforms/control_reference/tree_view_ctl/openfold.bmp -text
Src/examples/dotnet/winforms/gdi_plus/text/colorbars.jpg -text
Src/examples/dotnet/winforms/gdi_plus/text/marble.jpg -text
Src/examples/obsolete/base/desc-32/test.ico svneol=native#unset
Src/examples/obsolete/base/desc-32/testdesc.dll -text
Src/examples/obsolete/base/desc-32/testdesc.lib -text
Src/examples/obsolete/editor/bitmaps/copy_selection.png -text
Src/examples/obsolete/editor/bitmaps/cut_selection.png -text
Src/examples/obsolete/editor/bitmaps/icon_close_color.png -text
Src/examples/obsolete/editor/bitmaps/left_scroll_arrow.png -text
Src/examples/obsolete/editor/bitmaps/right_scroll_arrow.png -text
Src/examples/obsolete/old_com/Analyzer/Client/application.ico svneol=native#unset
Src/examples/obsolete/old_com/Analyzer/Client/toolbar.bmp svneol=native#unset
Src/examples/obsolete/old_com/Analyzer/Server/application.ico svneol=native#unset
Src/examples/obsolete/old_com/Compound/child.ico svneol=native#unset
Src/examples/obsolete/old_com/Compound/compound.ico svneol=native#unset
Src/examples/obsolete/old_com/Wordbasic/wordbasic.ico svneol=native#unset
Src/examples/obsolete/vision2/drawing_area/car.png -text
Src/examples/obsolete/vision2/grid/icon_bpdisabled.png -text
Src/examples/obsolete/vision2/grid/icon_bpenabled.png -text
Src/examples/obsolete/vision2/grid/image1.png -text
Src/examples/obsolete/vision2/grid/image2.png -text
Src/examples/obsolete/vision2/grid/image3.png -text
Src/examples/obsolete/vision2/grid/image4.png -text
Src/examples/obsolete/vision2/grid/image5.png -text
Src/examples/obsolete/vision2/grid/large_collapse.png -text
Src/examples/obsolete/vision2/grid/large_expand.png -text
Src/examples/obsolete/vision2/grid/marble.png -text
Src/examples/obsolete/vision2/multicolumn_list/eiffel.png -text
Src/examples/obsolete/vision2/multicolumn_list/eiffeldoc.png -text
Src/examples/obsolete/vision2/pixmap/blue.ico -text
Src/examples/obsolete/vision2/pixmap/gray.ico -text
Src/examples/obsolete/vision2/pixmap/gray.png -text
Src/examples/obsolete/vision2/pixmap/magenta.png -text
Src/examples/obsolete/vision2/test_all_widgets/pixmaps/power_small.bmp -text
Src/examples/obsolete/vision2/test_all_widgets/pixmaps/power_small.xpm -text svneol=unset#application/octet-stream
Src/examples/obsolete/vision2/test_all_widgets/pixmaps/vision.bmp -text
Src/examples/obsolete/vision2/test_all_widgets/pixmaps/vision.xpm -text svneol=unset#application/octet-stream
Src/examples/obsolete/vision2/test_all_widgets/pixmaps/vision_tower.bmp -text
Src/examples/obsolete/vision2/test_all_widgets/pixmaps/vision_tower.xpm -text svneol=unset#application/octet-stream
Src/examples/preferences/display.png -text
Src/examples/preferences/graphics.png -text
Src/examples/thread/fancy/fancy.ico svneol=native#unset
Src/examples/vision2/edraw/nocolor.png -text
Src/examples/vision2/edraw/toolbar/arc.png -text
Src/examples/vision2/edraw/toolbar/dot.png -text
Src/examples/vision2/edraw/toolbar/ellipse.png -text
Src/examples/vision2/edraw/toolbar/equilateral.png -text
Src/examples/vision2/edraw/toolbar/grid.png -text
Src/examples/vision2/edraw/toolbar/group.png -text
Src/examples/vision2/edraw/toolbar/line.png -text
Src/examples/vision2/edraw/toolbar/magnet.png -text
Src/examples/vision2/edraw/toolbar/move.png -text
Src/examples/vision2/edraw/toolbar/new.png -text
Src/examples/vision2/edraw/toolbar/open.png -text
Src/examples/vision2/edraw/toolbar/parallelogram.png -text
Src/examples/vision2/edraw/toolbar/picture.png -text
Src/examples/vision2/edraw/toolbar/pie.png -text
Src/examples/vision2/edraw/toolbar/polygon.png -text
Src/examples/vision2/edraw/toolbar/polyline.png -text
Src/examples/vision2/edraw/toolbar/rect.png -text
Src/examples/vision2/edraw/toolbar/rotate.png -text
Src/examples/vision2/edraw/toolbar/rounded_parallelogram.png -text
Src/examples/vision2/edraw/toolbar/rounded_rect.png -text
Src/examples/vision2/edraw/toolbar/save.png -text
Src/examples/vision2/edraw/toolbar/scale.png -text
Src/examples/vision2/edraw/toolbar/select.png -text
Src/examples/vision2/edraw/toolbar/star.png -text
Src/examples/vision2/edraw/toolbar/text.png -text
Src/examples/vision2/edraw/toolbar/toback.png -text
Src/examples/vision2/edraw/toolbar/tofront.png -text
Src/examples/vision2/edraw/toolbar/ungroup.png -text
Src/examples/vision2/egraph/Xnode.png -text
Src/examples/vision2/egraph/circle_layout.png -text
Src/examples/vision2/egraph/grid_layout.png -text
Src/examples/vision2/egraph/new.png -text
Src/examples/vision2/egraph/new_node.png -text
Src/examples/vision2/egraph/node.png -text
Src/examples/vision2/egraph/open.png -text
Src/examples/vision2/egraph/save.png -text
Src/examples/vision2/rich_text/bold.png -text
Src/examples/vision2/rich_text/center_alignment.png -text
Src/examples/vision2/rich_text/icon_save_color.png -text
Src/examples/vision2/rich_text/italic.png -text
Src/examples/vision2/rich_text/justified.png -text
Src/examples/vision2/rich_text/left_alignment.png -text
Src/examples/vision2/rich_text/right_alignment.png -text
Src/examples/vision2/rich_text/strike.png -text
Src/examples/vision2/rich_text/underline.png -text
Src/examples/vision2/viewport/bm_About.png -text
Src/examples/vision2/widgets/bm_About.png -text
Src/examples/vision2/widgets/icon_wizard_blank_project.png -text
Src/examples/wel/bmpview/bmpview_demo.ico -text
Src/examples/wel/bmpview/child.ico -text
Src/examples/wel/bmpview/wel-16c.bmp -text
Src/examples/wel/bmpview/wel-24bits.bmp -text
Src/examples/wel/bmpview/wel-256c.bmp -text
Src/examples/wel/brushes/brushes_demo.ico -text
Src/examples/wel/brushes/eiffel.bmp -text
Src/examples/wel/comctrls/comctrls_demo.ico -text
Src/examples/wel/comctrls/toolbar.bmp -text
Src/examples/wel/commands/commands_demo.ico -text
Src/examples/wel/controls/controls_demo.ico -text
Src/examples/wel/ctlcolor/ctlcolor_demo.ico -text
Src/examples/wel/cursors/cursors_demo.ico -text
Src/examples/wel/cursors/custom.cur svneol=native#unset
Src/examples/wel/diskspace/diskspace_demo.ico -text
Src/examples/wel/fontenum/fontenum_demo.ico -text
Src/examples/wel/fun/artist.ico -text
Src/examples/wel/fun/fun_demo.ico -text
Src/examples/wel/fun/invisibl.cur svneol=native#unset
Src/examples/wel/fun/iselogo.bmp -text
Src/examples/wel/header_ctrl/header_ctrl_demo.ico -text
Src/examples/wel/list_view/blue.ico -text
Src/examples/wel/list_view/green.ico -text
Src/examples/wel/list_view/listview_demo.ico -text
Src/examples/wel/list_view/magenta.ico -text
Src/examples/wel/list_view/red.ico -text
Src/examples/wel/magnify/magnify_demo.ico -text
Src/examples/wel/mdi/mdi_demo.ico -text
Src/examples/wel/menus/menus_demo.ico -text
Src/examples/wel/minimal/minimal_demo.ico -text
Src/examples/wel/pizza/forhere.ico -text
Src/examples/wel/pizza/pizza.ico -text
Src/examples/wel/pizza/pizza_demo.ico -text
Src/examples/wel/pizza/thick.ico -text
Src/examples/wel/pizza/thin.ico -text
Src/examples/wel/pizza/togo.ico -text
Src/examples/wel/printer/printer_demo.ico -text
Src/examples/wel/richedit/richedit_demo.ico -text
Src/examples/wel/richedit/toolbar.bmp -text
Src/examples/wel/splitarea/split_area_demo.ico -text
Src/examples/wel/stddlgs/stddlg_demo.ico -text
Src/examples/wel/timer/timer_demo.ico -text
Src/examples/wel/tree_view/document_normal.bmp -text
Src/examples/wel/tree_view/document_selected.bmp -text
Src/examples/wel/tree_view/folder_normal.bmp -text
Src/examples/wel/tree_view/folder_selected.bmp -text
Src/examples/wel/tree_view/treeview_demo.ico -text
Src/examples/wel/tutorial/drawing.drw -text
Src/examples/wel/tutorial/step1/app.ico -text
Src/examples/wel/tutorial/step2/app.ico -text
Src/examples/wel/tutorial/step3/app.ico -text
Src/examples/wel/tutorial/step4/app.ico -text
Src/examples/wel/tutorial/weltutor.hlp -text
Src/examples/wel/windows/off.bmp -text
Src/examples/wel/windows/on.bmp -text
Src/examples/wel/windows/windows_demo.ico -text
Src/examples/wel/xcell/backgr.bmp -text
Src/examples/wel/xcell/clubs1.bmp -text
Src/examples/wel/xcell/clubs10.bmp -text
Src/examples/wel/xcell/clubs11.bmp -text
Src/examples/wel/xcell/clubs12.bmp -text
Src/examples/wel/xcell/clubs13.bmp -text
Src/examples/wel/xcell/clubs2.bmp -text
Src/examples/wel/xcell/clubs3.bmp -text
Src/examples/wel/xcell/clubs4.bmp -text
Src/examples/wel/xcell/clubs5.bmp -text
Src/examples/wel/xcell/clubs6.bmp -text
Src/examples/wel/xcell/clubs7.bmp -text
Src/examples/wel/xcell/clubs8.bmp -text
Src/examples/wel/xcell/clubs9.bmp -text
Src/examples/wel/xcell/diamon1.bmp -text
Src/examples/wel/xcell/diamon10.bmp -text
Src/examples/wel/xcell/diamon11.bmp -text
Src/examples/wel/xcell/diamon12.bmp -text
Src/examples/wel/xcell/diamon13.bmp -text
Src/examples/wel/xcell/diamon2.bmp -text
Src/examples/wel/xcell/diamon3.bmp -text
Src/examples/wel/xcell/diamon4.bmp -text
Src/examples/wel/xcell/diamon5.bmp -text
Src/examples/wel/xcell/diamon6.bmp -text
Src/examples/wel/xcell/diamon7.bmp -text
Src/examples/wel/xcell/diamon8.bmp -text
Src/examples/wel/xcell/diamon9.bmp -text
Src/examples/wel/xcell/end.bmp -text
Src/examples/wel/xcell/h_clubs.bmp -text
Src/examples/wel/xcell/h_diamo.bmp -text
Src/examples/wel/xcell/h_harts.bmp -text
Src/examples/wel/xcell/h_spades.bmp -text
Src/examples/wel/xcell/harts1.bmp -text
Src/examples/wel/xcell/harts10.bmp -text
Src/examples/wel/xcell/harts11.bmp -text
Src/examples/wel/xcell/harts12.bmp -text
Src/examples/wel/xcell/harts13.bmp -text
Src/examples/wel/xcell/harts2.bmp -text
Src/examples/wel/xcell/harts3.bmp -text
Src/examples/wel/xcell/harts4.bmp -text
Src/examples/wel/xcell/harts5.bmp -text
Src/examples/wel/xcell/harts6.bmp -text
Src/examples/wel/xcell/harts7.bmp -text
Src/examples/wel/xcell/harts8.bmp -text
Src/examples/wel/xcell/harts9.bmp -text
Src/examples/wel/xcell/spades1.bmp -text
Src/examples/wel/xcell/spades10.bmp -text
Src/examples/wel/xcell/spades11.bmp -text
Src/examples/wel/xcell/spades12.bmp -text
Src/examples/wel/xcell/spades13.bmp -text
Src/examples/wel/xcell/spades2.bmp -text
Src/examples/wel/xcell/spades3.bmp -text
Src/examples/wel/xcell/spades4.bmp -text
Src/examples/wel/xcell/spades5.bmp -text
Src/examples/wel/xcell/spades6.bmp -text
Src/examples/wel/xcell/spades7.bmp -text
Src/examples/wel/xcell/spades8.bmp -text
Src/examples/wel/xcell/spades9.bmp -text
Src/examples/wel/xcell/start.bmp -text
Src/examples/wel/xcell/xcell.bmp -text
Src/examples/wel/xcell/xcell_demo.ico -text
Src/framework/README.TXT -text
Src/framework/configuration/parser/implementation/lace/lace_compile/classname_finder.l -text
Src/framework/configuration/parser/implementation/lace/lace_compile/lace.l -text
Src/framework/configuration/parser/implementation/lace/lace_compile/make.cmd -text
Src/framework/configuration/versioning/configuration-1-0-0.xsd -text
Src/framework/configuration/versioning/configuration-1-2-0.xsd -text
Src/framework/configuration/versioning/conversion-1-0-0.xsl -text
Src/framework/configuration/versioning/fix-eweasel-1-0-0.xsl -text
Src/framework/parser/AST/expressions/agent_routine_creation_as.e -text
Src/framework/parser/AST/expressions/bang_creation_expr_as.e -text
Src/framework/parser/AST/expressions/create_creation_expr_as.e -text
Src/framework/parser/AST/expressions/tilda_routine_creation_as.e -text
Src/framework/parser/AST/instructions/bang_creation_as.e -text
Src/framework/parser/AST/instructions/create_creation_as.e -text
Src/framework/parser/AST/utilities/assertion_filter.e -text
Src/framework/parser/roundtrip/comment/eiffel_comment_line.e -text
Src/framework/parser/roundtrip/context/roundtrip_context.e -text
Src/framework/parser/roundtrip/context/roundtrip_string_list_context.e -text
Src/framework/parser/roundtrip/factory/ast_roundtrip_factory.e -text
Src/framework/parser/roundtrip/factory/ast_roundtrip_light_factory.e -text
Src/framework/parser/roundtrip/factory/ast_roundtrip_scanner_factory.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/ert_ast_modifier.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/ert_client_set.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/list_modifier/ert_basic_eiffel_list_modifier.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/list_modifier/ert_eiffel_list_item_arguments.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/list_modifier/ert_eiffel_list_modifier.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/list_modifier/ert_empty_eiffel_list_modifier.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/list_modifier/list_item_modifier/ert_added_item_modifier.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/list_modifier/list_item_modifier/ert_appended_item_modifier.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/list_modifier/list_item_modifier/ert_existing_item_modifier.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/list_modifier/list_item_modifier/ert_list_item_modifier.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/list_modifier/list_item_modifier/ert_prepended_item_modifier.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/parent_modifier/ert_export_feature.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/parent_modifier/ert_export_feature_set.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/parent_modifier/ert_export_item_list.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/parent_modifier/ert_parent_as_merge_modifier.e -text
Src/framework/parser/roundtrip/refactoring/ast_modifier/parent_modifier/ert_parent_as_modifier.e -text
Src/framework/parser/roundtrip/refactoring/text_modifier/ert_addition_region_modifier.e -text
Src/framework/parser/roundtrip/refactoring/text_modifier/ert_append_region_modifier.e -text
Src/framework/parser/roundtrip/refactoring/text_modifier/ert_prepend_region_modifier.e -text
Src/framework/parser/roundtrip/refactoring/text_modifier/ert_region_modifier.e -text
Src/framework/parser/roundtrip/refactoring/text_modifier/ert_remove_region_modifier.e -text
Src/framework/parser/roundtrip/refactoring/text_modifier/ert_replace_region_modifier.e -text
Src/framework/parser/roundtrip/refactoring/text_modifier/ert_token_region.e -text
Src/framework/parser/roundtrip/scanner/eiffel_roundtrip_scanner.e -text
Src/framework/parser/roundtrip/visitor/ast_roundtrip_iterator.e -text
Src/framework/parser/roundtrip/visitor/ast_roundtrip_printer_visitor.e -text
Src/library/Eiffel2Java/README.txt -text
Src/library/GIF/Clib/gd_lib/gd.lib svneol=native#unset
Src/library/base_extension/base_extension.ecf -text
Src/library/diff/diff.e -text
Src/library/diff/diff_index_link.e -text
Src/library/diff/diff_line.e -text
Src/library/diff/diff_line_add.e -text
Src/library/diff/diff_line_del.e -text
Src/library/diff/diff_text.e -text
Src/library/editor/bitmaps/copy_selection.png -text
Src/library/editor/bitmaps/cut_selection.png -text
Src/library/editor/bitmaps/icon_close_color.png -text
Src/library/editor/bitmaps/left_scroll_arrow.png -text
Src/library/editor/bitmaps/right_scroll_arrow.png -text
Src/library/gobo_extension/gobo_extension.ecf -text
Src/library/i18n/README -text
Src/library/i18n/TODO -text
Src/library/i18n/doc/css/Thumbs.db -text
Src/library/i18n/doc/css/commonPrint.css -text
Src/library/i18n/doc/css/wikibits.js -text
Src/library/i18n/doc/developerguide.html -text
Src/library/i18n/doc/developerguide.txt -text
Src/library/i18n/doc/img/500px-I18n_translation.png -text
Src/library/i18n/doc/img/I18n_locale_information.png -text
Src/library/i18n/doc/img/I18n_overview.png -text
Src/library/i18n/doc/img/Thumbs.db -text
Src/library/i18n/doc/userguide.html -text
Src/library/i18n/doc/userguide.txt -text
Src/library/i18n/documents/locale_info_features -text
Src/library/i18n/example_application/logo.png -text
Src/library/i18n/example_application/mo_files/ar_SA.mo -text
Src/library/i18n/example_application/mo_files/el_GR.mo -text
Src/library/i18n/example_application/mo_files/en.mo -text
Src/library/i18n/example_application/mo_files/fr.mo -text
Src/library/i18n/example_application/mo_files/hu.mo -text
Src/library/i18n/example_application/mo_files/it_IT.mo -text
Src/library/i18n/example_application/mo_files/ru_RU.mo -text
Src/library/i18n/example_application/mo_files/xx_XX.mo -text
Src/library/i18n/example_application/mo_files/zh_CN.mo -text
Src/library/i18n/example_application/po_files/ar_SA.po -text
Src/library/i18n/example_application/po_files/el_GR.po -text
Src/library/i18n/example_application/po_files/en.po -text
Src/library/i18n/example_application/po_files/example.pot -text
Src/library/i18n/example_application/po_files/fr.po -text
Src/library/i18n/example_application/po_files/hu.po -text
Src/library/i18n/example_application/po_files/it_IT.po -text
Src/library/i18n/example_application/po_files/ru_RU.po -text
Src/library/i18n/example_application/po_files/xx_XX.po -text
Src/library/i18n/example_application/po_files/zh_CN.po -text
Src/library/i18n/forum.txt -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one/data_file -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one/get_data_file -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one/get_data_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one/query_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one/query_yes_file -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one/readme.txt -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one_zero/data_file -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one_zero/get_data_file -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one_zero/get_data_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one_zero/query_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one_zero/query_yes_file -text
Src/library/i18n/test_files/Dictionary/I18N_BINARY_SEARCH_ARRAY_DICTIONARY/with_two_plural_forms_singular_one_zero/readme.txt.txt -text
Src/library/i18n/test_files/Dictionary/I18N_CHARACTER_BASED_DICTIONARY/I18N_CHARACTER_BASED_DICTIONARY_TEST_WITH_PLURAL_FORM_2_WITH_DATALENGTH_1_WITH_SEED_100/data_file -text
Src/library/i18n/test_files/Dictionary/I18N_CHARACTER_BASED_DICTIONARY/I18N_CHARACTER_BASED_DICTIONARY_TEST_WITH_PLURAL_FORM_2_WITH_DATALENGTH_1_WITH_SEED_100/get_data_file -text
Src/library/i18n/test_files/Dictionary/I18N_CHARACTER_BASED_DICTIONARY/I18N_CHARACTER_BASED_DICTIONARY_TEST_WITH_PLURAL_FORM_2_WITH_DATALENGTH_1_WITH_SEED_100/get_data_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_CHARACTER_BASED_DICTIONARY/I18N_CHARACTER_BASED_DICTIONARY_TEST_WITH_PLURAL_FORM_2_WITH_DATALENGTH_1_WITH_SEED_100/query_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_CHARACTER_BASED_DICTIONARY/I18N_CHARACTER_BASED_DICTIONARY_TEST_WITH_PLURAL_FORM_2_WITH_DATALENGTH_1_WITH_SEED_100/query_yes_file -text
Src/library/i18n/test_files/Dictionary/I18N_CHARACTER_BASED_DICTIONARY/I18N_CHARACTER_BASED_DICTIONARY_TEST_WITH_PLURAL_FORM_2_WITH_DATALENGTH_50_WITH_SEED100/data_file -text
Src/library/i18n/test_files/Dictionary/I18N_CHARACTER_BASED_DICTIONARY/I18N_CHARACTER_BASED_DICTIONARY_TEST_WITH_PLURAL_FORM_2_WITH_DATALENGTH_50_WITH_SEED100/get_data_file -text
Src/library/i18n/test_files/Dictionary/I18N_CHARACTER_BASED_DICTIONARY/I18N_CHARACTER_BASED_DICTIONARY_TEST_WITH_PLURAL_FORM_2_WITH_DATALENGTH_50_WITH_SEED100/get_data_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_CHARACTER_BASED_DICTIONARY/I18N_CHARACTER_BASED_DICTIONARY_TEST_WITH_PLURAL_FORM_2_WITH_DATALENGTH_50_WITH_SEED100/query_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_CHARACTER_BASED_DICTIONARY/I18N_CHARACTER_BASED_DICTIONARY_TEST_WITH_PLURAL_FORM_2_WITH_DATALENGTH_50_WITH_SEED100/query_yes_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one/data_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one/get_data_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one/get_data_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one/query_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one/query_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one/query_yes_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one/readme.txt.txt -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one_zero/data_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one_zero/get_data_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one_zero/get_data_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one_zero/query_non_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one_zero/query_yes_file -text
Src/library/i18n/test_files/Dictionary/I18N_HASH_TABLE_DICTIONARY/with_two_plural_forms_singular_one_zero/readme.text.txt -text
Src/library/i18n/test_files/mo/ar.mo -text
Src/library/i18n/test_files/mo/zh_CN.mo -text
Src/library/memory_analyzer/memory_analyzer_icon_matrix.png -text
Src/library/process/classic/unix/process_error_listener_thread.e -text
Src/library/process/classic/unix/process_output_listener_thread.e -text
Src/library/process/classic/unix/process_thread_timer.e -text
Src/library/process/classic/windows/process_error_listener_thread.e -text
Src/library/process/classic/windows/process_output_listener_thread.e -text
Src/library/process/classic/windows/process_thread_timer.e -text
Src/library/process/classic/windows/wel_process_entry_32.e -text
Src/library/process/classic/windows/wel_process_id_pair.e -text
Src/library/process/classic/windows/wel_process_toolhelp_constants.e -text
Src/library/process/classic/windows/wel_thread_entry_32.e -text
Src/library/process/classic/windows/wel_toolhelp.e -text
Src/library/vision2/Clib/default_vision2_icon.ico -text
Src/library/vision2/implementation/carbon/Readme.txt -text
Src/library/vision2/implementation/carbon/kernel/.DS_Store -text
Src/library/vision2/implementation/carbon/kernel/ev_any_imp.fig -text
Src/library/vision2/implementation/carbon/testing/HRidges.png -text
Src/library/vision2/implementation/carbon/testing/HSplitter.png -text
Src/library/vision2/implementation/carbon/testing/VRidges.png -text
Src/library/vision2/implementation/carbon/testing/VSplitter.png -text
Src/library/vision2/implementation/carbon/widgets/dialogs/.DS_Store -text
Src/library/vision2/implementation/carbon/wrapper/carbon_c_eiffel_glue_library_ise_gcc.a -text
Src/library/vision2/implementation/carbon/wrapper/config.ewg -text
Src/library/vision2/implementation/carbon/wrapper/generated_wrapper/eiffel/abstraction/.DS_Store -text
Src/library/wel/extra/h2e.ico svneol=native#unset
Src/library/wel/extra/h2e1.ico svneol=native#unset
Src/library/wel/extra/h2e2.ico svneol=native#unset
Src/library/wel/structs/wel_xform.e -text
Src/library/wizard/help/Clib/htmlhelp.lib -text
