* text=auto !eol
Src/C_library/libpng/contrib/visupng/VisualPng.ico svneol=native#unset
Src/C_library/libpng/pngbar.jpg svneol=native#unset
Src/examples/base/desc-32/test.ico svneol=native#unset
Src/examples/base/desc-32/testdesc.dll -text
Src/examples/base/desc-32/testdesc.lib -text
Src/examples/com/compound/child.ico -text
Src/examples/com/compound/compound.ico -text
Src/examples/cpp/mystring/test_cpp.ico svneol=native#unset
Src/examples/old_com/Analyzer/Client/application.ico svneol=native#unset
Src/examples/old_com/Analyzer/Client/toolbar.bmp svneol=native#unset
Src/examples/old_com/Analyzer/Server/application.ico svneol=native#unset
Src/examples/old_com/Compound/child.ico svneol=native#unset
Src/examples/old_com/Compound/compound.ico svneol=native#unset
Src/examples/old_com/Wordbasic/wordbasic.ico svneol=native#unset
Src/examples/thread/fancy/fancy.ico svneol=native#unset
Src/examples/vision2/drawing_area/car.png -text
Src/examples/vision2/multicolumn_list/eiffel.png -text
Src/examples/vision2/multicolumn_list/eiffeldoc.png -text
Src/examples/vision2/pixmap/blue.ico -text
Src/examples/vision2/pixmap/gray.ico -text
Src/examples/vision2/pixmap/gray.png -text
Src/examples/vision2/pixmap/magenta.png -text
Src/examples/vision2/test_all_widgets/pixmaps/power_small.bmp -text
Src/examples/vision2/test_all_widgets/pixmaps/power_small.xpm -text svneol=unset#application/octet-stream
Src/examples/vision2/test_all_widgets/pixmaps/vision.bmp -text
Src/examples/vision2/test_all_widgets/pixmaps/vision.xpm -text svneol=unset#application/octet-stream
Src/examples/vision2/test_all_widgets/pixmaps/vision_tower.bmp -text
Src/examples/vision2/test_all_widgets/pixmaps/vision_tower.xpm -text svneol=unset#application/octet-stream
Src/examples/vision2/viewport/bm_About.png -text
Src/examples/vision2/widgets/bm_About.png -text
Src/examples/vision2/widgets/icon_wizard_blank_project.png -text
Src/examples/wel/bmpview/bmpview_demo.ico svneol=native#unset
Src/examples/wel/bmpview/child.ico svneol=native#unset
Src/examples/wel/bmpview/wel-16c.bmp -text
Src/examples/wel/bmpview/wel-24bits.bmp -text
Src/examples/wel/bmpview/wel-256c.bmp -text
Src/examples/wel/brushes/brushes_demo.ico svneol=native#unset
Src/examples/wel/brushes/eiffel.bmp -text
Src/examples/wel/comctrls/comctrls_demo.ico svneol=native#unset
Src/examples/wel/comctrls/toolbar.bmp svneol=native#unset
Src/examples/wel/commands/commands_demo.ico svneol=native#unset
Src/examples/wel/controls/controls_demo.ico svneol=native#unset
Src/examples/wel/ctlcolor/ctlcolor_demo.ico svneol=native#unset
Src/examples/wel/cursors/cursors_demo.ico svneol=native#unset
Src/examples/wel/cursors/custom.cur svneol=native#unset
Src/examples/wel/diskspace/diskspace_demo.ico -text
Src/examples/wel/fontenum/fontenum_demo.ico svneol=native#unset
Src/examples/wel/fun/artist.ico svneol=native#unset
Src/examples/wel/fun/fun_demo.ico svneol=native#unset
Src/examples/wel/fun/invisibl.cur svneol=native#unset
Src/examples/wel/fun/iselogo.bmp svneol=native#unset
Src/examples/wel/header_ctrl/header_ctrl_demo.ico svneol=native#unset
Src/examples/wel/list_view/blue.ico svneol=native#unset
Src/examples/wel/list_view/green.ico -text
Src/examples/wel/list_view/listview_demo.ico svneol=native#unset
Src/examples/wel/list_view/magenta.ico svneol=native#unset
Src/examples/wel/list_view/red.ico svneol=native#unset
Src/examples/wel/magnify/magnify_demo.ico svneol=native#unset
Src/examples/wel/mdi/mdi_demo.ico svneol=native#unset
Src/examples/wel/menus/menus_demo.ico svneol=native#unset
Src/examples/wel/minimal/minimal_demo.ico svneol=native#unset
Src/examples/wel/pizza/forhere.ico -text
Src/examples/wel/pizza/pizza.ico -text
Src/examples/wel/pizza/pizza_demo.ico -text
Src/examples/wel/pizza/thick.ico -text
Src/examples/wel/pizza/thin.ico -text
Src/examples/wel/pizza/togo.ico -text
Src/examples/wel/printer/printer_demo.ico svneol=native#unset
Src/examples/wel/richedit/richedit_demo.ico svneol=native#unset
Src/examples/wel/richedit/toolbar.bmp svneol=native#unset
Src/examples/wel/splitarea/split_area_demo.ico -text
Src/examples/wel/stddlgs/stddlg_demo.ico svneol=native#unset
Src/examples/wel/timer/timer_demo.ico svneol=native#unset
Src/examples/wel/tree_view/document_normal.bmp -text
Src/examples/wel/tree_view/document_selected.bmp -text
Src/examples/wel/tree_view/folder_normal.bmp -text
Src/examples/wel/tree_view/folder_selected.bmp -text
Src/examples/wel/tree_view/treeview_demo.ico svneol=native#unset
Src/examples/wel/tutorial/drawing.drw -text
Src/examples/wel/tutorial/step1/app.ico svneol=native#unset
Src/examples/wel/tutorial/step2/app.ico svneol=native#unset
Src/examples/wel/tutorial/step3/app.ico svneol=native#unset
Src/examples/wel/tutorial/step4/app.ico svneol=native#unset
Src/examples/wel/tutorial/weltutor.hlp -text
Src/examples/wel/unicode/clib/wel_imm.lib svneol=native#unset
Src/examples/wel/win98_unicode/brushes_demo.ico -text
Src/examples/wel/win98_unicode/clib/eiflocale.lib svneol=native#unset
Src/examples/wel/win98_unicode/clib/unicows.lib svneol=native#unset
Src/examples/wel/win98_unicode/eiffel.bmp -text
Src/examples/wel/win98_unicode/unicows.dll svneol=native#unset
Src/examples/wel/windows/off.bmp svneol=native#unset
Src/examples/wel/windows/on.bmp svneol=native#unset
Src/examples/wel/windows/windows_demo.ico svneol=native#unset
Src/examples/wel/xcell/backgr.bmp svneol=native#unset
Src/examples/wel/xcell/clubs1.bmp svneol=native#unset
Src/examples/wel/xcell/clubs10.bmp svneol=native#unset
Src/examples/wel/xcell/clubs11.bmp svneol=native#unset
Src/examples/wel/xcell/clubs12.bmp svneol=native#unset
Src/examples/wel/xcell/clubs13.bmp svneol=native#unset
Src/examples/wel/xcell/clubs2.bmp svneol=native#unset
Src/examples/wel/xcell/clubs3.bmp svneol=native#unset
Src/examples/wel/xcell/clubs4.bmp svneol=native#unset
Src/examples/wel/xcell/clubs5.bmp svneol=native#unset
Src/examples/wel/xcell/clubs6.bmp svneol=native#unset
Src/examples/wel/xcell/clubs7.bmp svneol=native#unset
Src/examples/wel/xcell/clubs8.bmp svneol=native#unset
Src/examples/wel/xcell/clubs9.bmp svneol=native#unset
Src/examples/wel/xcell/diamon1.bmp svneol=native#unset
Src/examples/wel/xcell/diamon10.bmp svneol=native#unset
Src/examples/wel/xcell/diamon11.bmp svneol=native#unset
Src/examples/wel/xcell/diamon12.bmp svneol=native#unset
Src/examples/wel/xcell/diamon13.bmp svneol=native#unset
Src/examples/wel/xcell/diamon2.bmp svneol=native#unset
Src/examples/wel/xcell/diamon3.bmp svneol=native#unset
Src/examples/wel/xcell/diamon4.bmp svneol=native#unset
Src/examples/wel/xcell/diamon5.bmp svneol=native#unset
Src/examples/wel/xcell/diamon6.bmp svneol=native#unset
Src/examples/wel/xcell/diamon7.bmp svneol=native#unset
Src/examples/wel/xcell/diamon8.bmp svneol=native#unset
Src/examples/wel/xcell/diamon9.bmp svneol=native#unset
Src/examples/wel/xcell/end.bmp svneol=native#unset
Src/examples/wel/xcell/h_clubs.bmp svneol=native#unset
Src/examples/wel/xcell/h_diamo.bmp svneol=native#unset
Src/examples/wel/xcell/h_harts.bmp svneol=native#unset
Src/examples/wel/xcell/h_spades.bmp svneol=native#unset
Src/examples/wel/xcell/harts1.bmp svneol=native#unset
Src/examples/wel/xcell/harts10.bmp svneol=native#unset
Src/examples/wel/xcell/harts11.bmp svneol=native#unset
Src/examples/wel/xcell/harts12.bmp svneol=native#unset
Src/examples/wel/xcell/harts13.bmp svneol=native#unset
Src/examples/wel/xcell/harts2.bmp svneol=native#unset
Src/examples/wel/xcell/harts3.bmp svneol=native#unset
Src/examples/wel/xcell/harts4.bmp svneol=native#unset
Src/examples/wel/xcell/harts5.bmp svneol=native#unset
Src/examples/wel/xcell/harts6.bmp svneol=native#unset
Src/examples/wel/xcell/harts7.bmp svneol=native#unset
Src/examples/wel/xcell/harts8.bmp svneol=native#unset
Src/examples/wel/xcell/harts9.bmp svneol=native#unset
Src/examples/wel/xcell/spades1.bmp svneol=native#unset
Src/examples/wel/xcell/spades10.bmp svneol=native#unset
Src/examples/wel/xcell/spades11.bmp svneol=native#unset
Src/examples/wel/xcell/spades12.bmp svneol=native#unset
Src/examples/wel/xcell/spades13.bmp svneol=native#unset
Src/examples/wel/xcell/spades2.bmp svneol=native#unset
Src/examples/wel/xcell/spades3.bmp svneol=native#unset
Src/examples/wel/xcell/spades4.bmp svneol=native#unset
Src/examples/wel/xcell/spades5.bmp svneol=native#unset
Src/examples/wel/xcell/spades6.bmp svneol=native#unset
Src/examples/wel/xcell/spades7.bmp svneol=native#unset
Src/examples/wel/xcell/spades8.bmp svneol=native#unset
Src/examples/wel/xcell/spades9.bmp svneol=native#unset
Src/examples/wel/xcell/start.bmp svneol=native#unset
Src/examples/wel/xcell/xcell.bmp svneol=native#unset
Src/examples/wel/xcell/xcell_demo.ico svneol=native#unset
Src/library/GIF/Clib/gd_lib/gd.lib svneol=native#unset
Src/library/gobo/bin/gelex.exe -text
Src/library/gobo/bin/gepp.exe -text
Src/library/gobo/bin/geyacc.exe -text
Src/library/gobo/doc/image/book/compiler_design.gif svneol=native#unset
Src/library/gobo/doc/image/book/compilers.gif svneol=native#unset
Src/library/gobo/doc/image/book/design_patterns.gif svneol=native#unset
Src/library/gobo/doc/image/book/empty.gif svneol=native#unset
Src/library/gobo/doc/image/book/ise.gif -text
Src/library/gobo/doc/image/book/lex_yacc.gif svneol=native#unset
Src/library/gobo/doc/image/book/object_structures.gif svneol=native#unset
Src/library/gobo/doc/image/book/regex.gif svneol=native#unset
Src/library/gobo/doc/image/book/reusable_software.gif svneol=native#unset
Src/library/gobo/doc/image/construction.gif svneol=native#unset
Src/library/gobo/doc/image/download.gif svneol=native#unset
Src/library/gobo/doc/image/home.gif svneol=native#unset
Src/library/gobo/doc/image/next.gif svneol=native#unset
Src/library/gobo/doc/image/previous.gif svneol=native#unset
Src/library/gobo/doc/image/toc.gif svneol=native#unset
Src/library/gobo/doc/structure/container.gif svneol=native#unset
Src/library/gobo/doc/structure/cursor.gif svneol=native#unset
Src/library/gobo/doc/structure/image/arrayed_list.gif -text
Src/library/gobo/doc/structure/image/base.gif -text
Src/library/gobo/doc/structure/image/bilinked_list.gif -text
Src/library/gobo/doc/structure/image/container.gif -text
Src/library/gobo/doc/structure/image/dispenser.gif -text
Src/library/gobo/doc/structure/image/linked_list.gif -text
Src/library/gobo/doc/structure/image/list.gif -text
Src/library/gobo/doc/structure/image/sort.gif -text
Src/library/gobo/doc/structure/image/table.gif -text
Src/library/gobo/doc/structure/image/traversal.gif -text
Src/library/gobo/doc/structure/list.gif svneol=native#unset
Src/library/gobo/doc/structure/search.gif svneol=native#unset
Src/library/gobo/doc/structure/sort.gif svneol=native#unset
Src/library/gobo/doc/structure/stack.gif svneol=native#unset
Src/library/gobo/doc/structure/table.gif svneol=native#unset
Src/library/wel/extra/h2e.ico svneol=native#unset
Src/library/wel/extra/h2e1.ico svneol=native#unset
Src/library/wel/extra/h2e2.ico svneol=native#unset
Src/library/wizard/help/Clib/SHELL32.LIB -text
Src/library/wizard/help/Clib/htmlhelp.lib -text
